## Ignore everything
#*

## Don't ignore directories, so we can recurse into them
#!*/

## Don't ignore .gitignore and *.foo files
!.gitignore
# .gitkeep non-official file used by convention to put it in empty folders in order to be able to sync them
!.gitkeep

site/
docs/Foreign-Languages/
docs/index.md
mkdocssh.yml
.pagessh

*+OFFL*
*+GH*
*.mp[34]
*.wav
